{% extends "base.html" %}
{% block content %}

<h1>Admin Analytics</h1>

<div class="cards">
    <div class="card yellow">
        <h3>Total Users</h3>
        <h2>{{ users|length }}</h2>
    </div>

    <div class="card red">
        <h3>Total Incidents</h3>
        <h2>{{ incidents|length }}</h2>
    </div>
</div>

<div class="table-box">
<h3>User List</h3>
<table>
<tr>
<th>Name</th>
<th>Email</th>
<th>Role</th>
</tr>

{% for user in users %}
<tr>
<td>{{ user[1] }}</td>
<td>{{ user[2] }}</td>
<td>{{ user[4] }}</td>
</tr>
{% endfor %}

</table>
</div>

<div class="table-box">
<h3>Incident Logs</h3>
<table>
<tr>
<th>Server ID</th>
<th>Start</th>
<th>End</th>
<th>Status</th>
</tr>

{% for inc in incidents %}
<tr>
<td>{{ inc[1] }}</td>
<td>{{ inc[2] }}</td>
<td>{{ inc[3] }}</td>
<td>{{ inc[4] }}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
