<!DOCTYPE html>
<html>
<head>
    <title>CyberHealth Enterprise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>CyberHealth</h2>
        <a href="/dashboard">Dashboard</a>

        {% if session.get("role") == "admin" %}
        <a href="/admin">Admin Panel</a>
        {% endif %}

        <a href="/logout">Logout</a>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main">
        {% block content %}{% endblock %}
    </div>

</div>

<script>
setInterval(() => {
    location.reload();
}, 30000);
</script>

</body>
</html>
