{% extends "base.html" %}
{% block content %}

<h1>Infrastructure Overview</h1>

<div class="cards">
    <div class="card blue">
        <h3>Total Servers</h3>
        <h2>{{ servers|length }}</h2>
    </div>
</div>

<div class="add-box">
    <h3>Add New System</h3>
    <form method="POST">
        <input type="text" name="name" placeholder="System Name" required>
        <input type="text" name="ip" placeholder="http://example.com or IP" required>
        <button>Add System</button>
    </form>
</div>

<div class="table-box">
<table>
<tr>
<th>Name</th>
<th>IP</th>
<th>Status</th>
<th>Response</th>
<th>SLA %</th>
</tr>

{% for server in servers %}
<tr>
<td>{{ server[1] }}</td>
<td>{{ server[2] }}</td>
<td>
<span class="status {{ server[4]|lower }}"></span>
{{ server[4] }}
</td>
<td>{{ server[5] }} ms</td>
<td>{{ sla_data[loop.index0] }}%</td>
</tr>
{% endfor %}

</table>
</div>

{% endblock %}
